

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-color: #f2f2f2;
}


.navbar-default {
}

.btn-default {
    border-color: white !important;
    border:.1em solid #d1d1d1;
    border-radius: 3px !important;
    background-color: darkgreen !important;
    color: white !important;

}

#slider {
    display: none;
}

#rangeselect{
    margin: auto;
    text-align:  center;
}

#onlineusers {
    text-align: right;
    background: darkgreen;
    color: white;
    padding:.5em;
}

#sortdiv{
    width:100% !important;
}
#sortdiv>.btn {
    width:50% !important;
    margin: 0 !important;
}

#justmediv{
    width:100% !important;
}
#justmediv>.btn {
    width:33.33% !important;
    margin: 0 !important;
}

.btn-default.active {
    background-color: white !important;
    color: darkgreen !important;
}
.btn:hover {
    background-color: white !important;
    color: darkgreen !important;
}

.alert-success {
    background-color: #DDEDDD !important;
}

.form-control:focus {
    border:0 !important;
    border-color:white !important;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6) !important;
}

#outernav{
    min-width: 300px;
}

#innernav{
        max-width: 850px;
        min-width: 300px;
        overflow: hidden;
        height: 2.8em;
        margin: auto;
    }
@media screen and (min-width:700px) {
    #outernav {
        width: 100%;  
        top: 0;
        margin: auto;
        position: fixed;
        padding-bottom: .5em;
        padding-left: 4em;

        padding-right: 4em;
        
        /*border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
        */
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px;
        z-index: 100;
        text-align: center;
    }


    #mapbox{
        border: 1px solid darkgreen; 
    }

    #slider{
        display: block;
    }

    #outer{
        padding-top: 4em;
    }

    #mediacontent{

        min-width: 5em;
        min-height: 5em;

    }

    #map-canvas{
        height: 400px;
    }


    .message .name {
        font-size: 1.15em;
    }

    #padder{

        max-width: 650px;
    }


    /*

    #mapbox{
        position: absolute;
        width: 25em;
        left: 57%;
        padding: 1em;
    }

    #outer{
        position: relative;
        left: -150px;
    }
    */

    #houserange, #campusrange, #mapmarker{
        padding:.5em;
        border-radius: 0px !important;
        max-width: 17.5em;
        overflow: hidden;

    }   
}

#mapbox {
    margin: .5em .5em;
    padding: .5em .5em;
}

#map-canvas{
    min-height: 300px; 
    height: 100%;
}

#welcoming {
    margin: auto;
}
#previewbox {
    margin: auto;
    display: inline-block;
}
a {
    text-decoration: none;
    transition-duration: 0.25s;
}

p a,
strong {
    font-weight: 700;
}


#mediacontent{
  height: 3.8em;
  width: 3.6em;
  color: black;
  margin: 0 !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3em;
  -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
  display: inline-block;
}

#mediapreview{
  display: inline-block;
}

#typer {
    z-index: 100; 
    background: white;
    width: 100%;
}

#title {
    max-width: 87%;
    margin: auto;
}

#logo {
    height:2em;
    width:3.7em;
    margin:auto;
    background-size: cover;
    background-position: center center;
    background-image: url(img/cricket_smooth.png);
}

#messageText{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top:0;
    border-radius: 0px !important;
}

#addlink, #addphoto, #send{
    border: 0;
    border-top: 1px solid darkgray !important;
    border-radius: 0px !important;
    width:100%;
    color: darkgreen !important;
    background-color: white !important;
}

#text.active, #photo.active, #send.active{
    font-weight: bold !important;
}

#houserange, #campusrange, #mapmarker{
    padding:.5em;
    border-radius: 0px !important;
    max-width: 7.5em;
    overflow: hidden;


}

#mapmarker {
    border: 0;
    margin:1px;
    background-color: darkgreen !important;
    color:white !important;
}


#boot {
    cursor: pointer;
    height:1.17em;
    width:1em;
    margin:0em .5em;
    background-size: cover;
    background-position: center center;
    background-image: url(http://s30.postimg.org/c6cqpky1p/Screen_Shot_2014_09_11_at_13_08_31.png);
}

#inner {
}

#New, #Hot, #Me {
    background-color: #DDEDDD !important;
    color: darkgreen !important;
}

#New.active, #Hot.active, #Me.active {
    background-color: white !important;
    color: darkgreen !important;
}

#outer {
    max-width: 850px;
    margin: auto; 
    min-width: 300px;
    
}

#padder{
    padding: 0em 0em;

    max-width: 560px;
    margin: auto;
}

#messageadding{
    background-color: #DDEDDD ;
    border: 1px solid #ADCBAB;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: .5em;
    margin-top: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

}

#messagefeet{
    padding-top: .5em;

    padding-bottom: .25em;
}

.camera-popup video {
max-width:250px;
}

#taskbar {
    left:50%;
}

#outernav {

        text-align: center;
    margin-bottom: 1em;
    background-color: darkgreen;
    padding-bottom: .5em;
    padding-top: .5em; 
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px;

}

.message {
    padding-left: 2em;
    padding-top: .25em;
    background-color: white;
    border-bottom:1px solid #d1d1d1;
}

.row{
    width: 100%;
    margin: 0;
}
.page{
    height: 100%;
    overflow: scroll;
}
.message .name {
    vertical-align: text-bottom;
    font-size: .9em;
    padding-left: 1em;
    padding-bottom: .5em;
    max-height: 10em;
    overflow: hidden;
    padding-top: .5em;
    width: 75%;
    display: inline-block;
    word-wrap: break-word;
}

@media screen and (max-width:360px) {
    .message .name {
        width: 70%;
    }
    .message {
    padding-left: 1.3em;
}

}


.message.selected {
    background-color: lightgreen;
}


#score{
    float:right;
    opacity: .5;
    position: relative;
    margin:auto;
  top: 50%;
  margin-right: .3em;
  transform: translateY(-50%);
     font-color:darkgreen;
     width: 1em;
     height: 1em;
     border-radius: 3em;
     top:.5em;
     font-size: 1.1em;
}

#numscore{
    color: darkgreen;
    margin:auto;
    width: 1.6em;
    position: relative;
    left:-.49em;
    text-align: center;

}

#upvote{
    position: relative;
    left:.5em;

}
#upvote:after{
    position:absolute;
    top:10px;
    right:10px;
    left:10px;
    bottom:10px;
}
#upvote:before{
    position:absolute;
    top:-10px;
    right:-10px;
    left:-10px;
    bottom:-10px;
}
#downvote{
    position: relative;
    left:.4em;
    top:-.3em;


}
#downvote:after{
    position:absolute;
    top:10px;
    right:10px;
    left:10px;
    bottom:10px;
}
#downvote:before{
    position:absolute;
    top:-10px;
    right:-10px;
    left:-10px;
    bottom:-10px;
}

.message #score:hover {
    cursor: pointer; 
          -moz-animation:bounceOut .4s linear;
          -webkit-animation:bounceOut .4s linear;
          box-shadow: 1 1 1 5px #6DCB8B ;
        }

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}


/*   Loading Animation      */

#overlay {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}

#overlay img {
    width: 150px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -75px;
}

.loading {
    -webkit-animation: fade-in .25s linear;
    -moz-animation: fade-in .25s linear;
    -o-animation: fade-in .25s linear;
    animation: fade-in .25s linear;
}

@-webkit-keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-moz-keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-o-keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

.loading,
.loading div {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.loading {
    width: 2.5em;
    height: 2.5em;    
    background-color: rgba( 0, 0, 0, .075 );
    position: fixed;
    z-index: 10003;
    top: 50%;
    left: 50%;
    padding: 0.625em;
    margin: -1.25em 0 0 -1.25em; /* 20 */
}

.loading div {
    width: 1.25em;
    height: 1.25em;
    background-color: rgba(255, 255, 255, 0.75);    
    -webkit-animation: loading .5s ease infinite;
    -moz-animation: loading .5s ease infinite;
    -o-animation: loading .5s ease infinite;
    animation: loading .5s ease infinite;
}

@-webkit-keyframes loading {
    from { opacity: .5; -webkit-transform: scale( .75 ); }
    50%  { opacity: 1;  -webkit-transform: scale( 1 ); }
    to   { opacity: .5; -webkit-transform: scale( .75 ); }
}

@-moz-keyframes loading {
    from { opacity: .5; -moz-transform: scale( .75 ); }
    50%  { opacity: 1;  -moz-transform: scale( 1 ); }
    to   { opacity: .5; -moz-transform: scale( .75 ); }
}

@-o-keyframes loading {
    from { opacity: .5; -o-transform: scale( .75 ); }
    50%  { opacity: 1;  -o-transform: scale( 1 ); }
    to   { opacity: .5; -o-transform: scale( .75 ); }
}

@keyframes loading {
    from { opacity: .5; transform: scale( .75 ); }
    50%  { opacity: 1;  transform: scale( 1 ); }
    to   { opacity: .5; transform: scale( .75 ); }
}

@-moz-keyframes bounceOut {
        0%{ box-shadow: 0 0 0 4px #6DCB8B  opacity:1;}
        25%{ box-shadow: 0 0 0 1px #6DCB8B  opacity:1;}
        50%{ box-shadow: 0 0 0 7px #6DCB8B  opacity:1; }
        75%{ box-shadow: 0 0 0 4px #6DCB8B  opacity:1;}
        100%{ box-shadow: 0 0 0 5px #6DCB8B  opacity:1;}
}

@-webkit-keyframes bounceOut {
        0%{ box-shadow: 0 0 0 4px #6DCB8B  opacity:1;}
        25%{ box-shadow: 0 0 0 1px #6DCB8B  opacity:1;}
        50%{ box-shadow: 0 0 0 7px #6DCB8B  opacity:1; }
        75%{ box-shadow: 0 0 0 4px #6DCB8B  opacity:1;}
        100%{ box-shadow: 0 0 0 5px #6DCB8B  opacity:1;}
}


