<head>
  <title>Quickit</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="icon" 
      type="image/png" 
      href="http://s3.postimg.org/qen3mdtpb/cricketfill.png">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-default" role="navigation" >

  <div class="container-fluid" style="margin:0 9%;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Quickit β</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-init="selected='Blog'">
      <li><a href=""><div id="logo"></div></a></li>
        
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="selected = tabs[0];" ng-class="{active: 'Blog'==selected}"><a href="?">Getting Started</a></li>
        <li ng-click="selected = 'About'" ng-class="{active: 'About'==selected}"><a href="?">FAQ</a>
        </li>
        <li ng-click="selected = tabs[1];" ng-class="{active: 'Portfolio'==selected}"><a href="?">Contact Us</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</head>

<body>

  <div id="outer">
    {{> leaderboard}}
  </div>
  <div id="typer">
  {{> addPlayer}}
  </div>
</body>

<template name="leaderboard">
  <div class="leaderboard" style="overflow:scroll; max-height:100%">
    {{#each players}}
      {{> player}}
    {{/each}}
    <input type="button"  class="evalit" value="decall" />
  </div>

</template>

<template name="player">
  <div class="player {{selected}}">
    <span class="name">{{name}}</span>
    
    <span class="pull-right">
      <span class="score">{{score}}</span>
      <span class="glyphicon glyphicon-eye-open" data-toggle="popover" data-content="{{lat}} , {{lng}}">
        
      </span>
      <!--<span class="lat">{{lat}}</span>
      <span class="lng">{{lng}}</span>-->
    </span>
  </div>
</template>

<template name="addPlayer">
    <div id="outer">
    <span>

        <input type="text" class="form-inline" style="width:94%" id="playerName" />
        <span>
        <input type="button"  class="add" value="chirp"/>
        </span>
        </span>

    </div>
</template>

