body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 0;
}

.divider {
    border-bottom:1px solid #d1d1d1;
    height: 1px;
}

#typer {
    z-index: 100; 
    background: white;
    position:fixed;
    bottom: 0;
    padding:.5em;
    width: 100%;
}

#title {
    max-width: 87%;
    margin: auto;
}

#logo {
    height:1.4em;
    width:2.5em;
    margin:auto;
    background-size: cover;
    background-position: center center;
    background-image: url(img/cricket_smooth.png);
}

#boot {
    cursor: pointer;
    height:1.17em;
    width:1em;
    margin:0em .5em;
    background-size: cover;
    background-position: center center;
    background-image: url(http://s30.postimg.org/c6cqpky1p/Screen_Shot_2014_09_11_at_13_08_31.png);
}


#outer {
    max-width: 87%;
    margin: 0 auto;
    
}

.message {
    padding: .5em;
    cursor: pointer;
}

.message .name {
    font-size: 1.2em;
    word-wrap: break-word;
}


.message.selected {
    background-color: lightgreen;
}

.message.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}

/*   Loading Animation      */

#overlay {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}

#overlay img {
    width: 150px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -75px;
}

.loading {
    -webkit-animation: fade-in .25s linear;
    -moz-animation: fade-in .25s linear;
    -o-animation: fade-in .25s linear;
    animation: fade-in .25s linear;
}

@-webkit-keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-moz-keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-o-keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@keyframes fade-in {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

.loading,
.loading div {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.loading {
    width: 2.5em;
    height: 2.5em;    
    background-color: rgba( 0, 0, 0, .075 );
    position: fixed;
    z-index: 10003;
    top: 50%;
    left: 50%;
    padding: 0.625em;
    margin: -1.25em 0 0 -1.25em; /* 20 */
}

.loading div {
    width: 1.25em;
    height: 1.25em;
    background-color: rgba(255, 255, 255, 0.75);    
    -webkit-animation: loading .5s ease infinite;
    -moz-animation: loading .5s ease infinite;
    -o-animation: loading .5s ease infinite;
    animation: loading .5s ease infinite;
}

@-webkit-keyframes loading {
    from { opacity: .5; -webkit-transform: scale( .75 ); }
    50%  { opacity: 1;  -webkit-transform: scale( 1 ); }
    to   { opacity: .5; -webkit-transform: scale( .75 ); }
}

@-moz-keyframes loading {
    from { opacity: .5; -moz-transform: scale( .75 ); }
    50%  { opacity: 1;  -moz-transform: scale( 1 ); }
    to   { opacity: .5; -moz-transform: scale( .75 ); }
}

@-o-keyframes loading {
    from { opacity: .5; -o-transform: scale( .75 ); }
    50%  { opacity: 1;  -o-transform: scale( 1 ); }
    to   { opacity: .5; -o-transform: scale( .75 ); }
}

@keyframes loading {
    from { opacity: .5; transform: scale( .75 ); }
    50%  { opacity: 1;  transform: scale( 1 ); }
    to   { opacity: .5; transform: scale( .75 ); }
}

