body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#title {
    max-width: 80%;
    margin: auto;
}

#logo {
    height:1.4em;
    width:2.5em;
    margin:auto;
    background-size: cover;
    background-position: center center;
    background-image: url(http://s23.postimg.org/fl21cccjv/cricketfill.png);
}


#outer {
    max-width: 80%;
    margin: 0 auto;
    max-height: 600px;
    overflow: auto;
}

.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    font-size: 1.5em;
}


.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}
