
/* This is Atmospheric v1.2 â€” crafted with love by Jason Schuller @jschuller. Copyright 2014 Circa75 Media, LLC @circa75co. */

/* Setup
*********************************************************************************************/

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

/* Typography
*********************************************************************************************/

h1, h2 {    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    transition-duration: 0.25s;
}

p a,
strong {
    font-weight: 700;
}

p a {
    border-bottom: 1px solid;
}

/* Icons
*********************************************************************************************/

@font-face { 
    font-family: "ionicons"; 
    src: url("../fonts/ionicons.eot?v=1.4.1"); 
    src: url("../fonts/ionicons.eot?v=1.4.1#iefix") format("embedded-opentype"), 
         url("../fonts/ionicons.ttf?v=1.4.1") format("truetype"), 
         url("../fonts/ionicons.woff?v=1.4.1") format("woff"), 
         url("../fonts/ionicons.svg?v=1.4.1#Ionicons") format("svg"); 
    font-weight: normal; 
    font-style: normal; 
}

.icon { 
    display: inline-block; 
    font-family: "ionicons"; 
    speak: none; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    text-rendering: auto; 
    line-height: 1; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
}

.icon.twitter:before { content: "\f243"; }
.icon.facebook:before { content: "\f231"; }
.icon.email:before { content: "\f10f"; }
.icon.photo:before { content: "\f118"; }
.icon.video:before { content: "\f1f4"; }
.icon.phone:before { content: "\f1e6"; }
.icon.training:before { content: "\f2e3"; }
.icon.edit:before { content: "\f2bf"; }
.icon.submit:before { content: "\f16c"; }
.icon.heart:before { content: "\f141"; }

/* Header
*********************************************************************************************/

#header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
}

/* Header Logo
*********************************************************************************************/

#header #logo {
    background: top left no-repeat;
    background-size: 60px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 40px;
}

.intro #header #logo,
.services #header #logo {
    background-image: url('img/cricket_watermark.png');
}

.about #header #logo,
.contact #header #logo {
    background-image: url('img/cricket_watermark.png');
}

/* Header Menu
*********************************************************************************************/

#header ul {
    position: absolute;
    top: 0;
    right: 40px;
}

#header ul li,
#header ul li a {
    float: left;
    position: relative;
}

#header ul li {
    margin-left: 20px;
}

#header ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition-duration: 0.25s;
}

#header ul li.current a::before,
#header ul li a:hover::before {
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    width: 12px;
    height: 12px;
    top: -6px;
    left: 50%;
    margin-left: -6px;
    content: '';
}

.intro #header ul li a,
.services #header ul li a {
    color: #ffffff;
}

.intro #header ul li.current a::before,
.intro #header ul li a:hover::before,
.services #header ul li.current a::before,
.services #header ul li a:hover::before {
    border-color: #ffffff;
}

.about #header ul li a,
.contact #header ul li a {
    color: rgba(0, 0, 0, 0.65);
}

.about #header ul li.current a::before,
.about #header ul li a:hover::before,
.contact #header ul li.current a::before,
.contact #header ul li a:hover::before {
    background-color: rgba(0, 0, 0, 0.65);
}

/* Sections
*********************************************************************************************/

section {
    width: 100%;
    position: relative;
    overflow: hidden; 
}

section.split .media {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

section.split .copy {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.45);
    width: 50%;
    float: left;
    margin-left: 50%;
}

section.split .copy .content {
    float: left;
    padding: 100px;
}

section.split .copy .content h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 48px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.65);
    width: 100%;
    padding-bottom: 33px;
    margin-bottom: 28px;
}

section.split .copy .content p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 17px;
}

section.split .copy .content p a {
    color: rgba(0, 0, 0, 0.45);
}

section.split .copy .content blockquote {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 24px;
}

/* Intro
*********************************************************************************************/

#intro,
#intro::before,
#intro::after {
    width: 100%;
    height: 100%;
}

#intro::before,
#intro::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    content: '';
}

#intro::before {
    background: url('img/cricket_watermark.png') center center no-repeat;
    background-size: cover;
}

#intro::after {
    background-color: rgba(56, 47, 40, 0.5);
}

/* Intro Text
*********************************************************************************************/

#intro .intro {
    text-align: center;
    position: absolute;
    z-index: 1;
    width: 100%;
}

#intro h1 {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
    font-size: 100px;
    line-height: 100px;
    color: #ffffff;
    padding-bottom: 18px;
    margin-bottom: 27px;
}

#intro h1::after {
    background-color: #ce7354;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 41px;
    left: 50%;
    margin-left: -16px;
    content: '';
}

#intro p {
    font-size: 28px;
    line-height: 28px;
    color: #ffffff;
}

/* About
*********************************************************************************************/

#about .media {
    background-image: url('http://fuelberg.met.fsu.edu/~apreston/Michigan/North%2520Campus.jpg');
}

#about p:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 36px;
    margin-bottom: 37px;
}

#about img {
    width: 75px;
}

/* Services
*********************************************************************************************/

#services {
    float:left;
}

#services .media {
    background-image: url('img/quicket_career_fair.png');
}



/* Contact
*********************************************************************************************/

#contact .media {
    background-image: url('img/quicket_career_fair.png');
}

#contact p:last-of-type {
    margin-bottom: 37px;
}

/* Contact Form
*********************************************************************************************/

#contact form,
#contact form .row,
#contact form .form-message.success,
#contact form .form-message.error  {
    width: 100%;
    float: left;
    position: relative;
}

#contact form {
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.01) url('img/cricket_watermark.png') top left repeat-x;
    background-size: 50px;
    padding: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#contact form .form-message.success,
#contact form .form-message.error {
    color: #ffffff;
    border-radius: 3px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

#contact form .form-message.success {
    background-color: #5a9475;
}

#contact form .form-message.error {
    background-color: #c26650;
}

#contact form .icon.edit:before {
    font-size: 11px;
    color: #909090;
    position: absolute;
    top: 3px;
    left: 0;
}

#contact form input[type="text"],
#contact form input[type="password"],
#contact form input[type="email"],
#contact form textarea {
    background: none;
    border: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.075);
    outline: none;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    float: left;
    margin: 0 0 20px;
    padding: 0 0 4px 16px;
    position: relative;
}

#contact form input[type="text"]:focus,
#contact form input[type="password"]:focus,
#contact form input[type="email"]:focus,
#contact form textarea:focus {
    color: rgba(0, 0, 0, 0.75);
}

#contact form textarea {
    height: 16px;
    margin-bottom: 6px;
    padding-bottom: 6px;
}

#contact form p.characters {
    border: none;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.025);
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.15);
    float: right;
    padding: 0 8px;
}

#contact form button {
    border-radius: 0 0 6px 6px;
    border: none;
    background-color: #c26650;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

#contact form button:hover {
    background-color: #5a9475;
}

/* News
*********************************************************************************************/

#news {
    background: url('');
    background-position: center center;
    color: #ffffff;
    text-align: center;
    height: 400px;
    overflow: hidden;
}

#news::after {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    content: '';
}

/* News Text
*********************************************************************************************/

#news .subscribe {
    text-align: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
}

#news h2 {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 28px;
}

#news p {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.25);
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 40px;
    padding-bottom: 38px;
}

/* News Form
*********************************************************************************************/

#news form {
    width: 240px;
    margin: 0px auto;
    position: relative;
}

#news input[type="text"],
#news input[type="email"] {
    background: none;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    line-height: 38px;
    text-align: center;
    width: 240px;
    height: 38px;
    padding: 0 20px;
    -webkit-appearance: none;
}

#news .button {
    background-color: #ffffff;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 34px;
    height: 34px;
    padding: 0;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -17px;
    cursor: pointer;
    transition-duration: 0.25s;
}

#news #post-subscribe {
    display: none;
}

#news .icon.heart {
    font-size: 32px;
}

/* Loading Overlay
*********************************************************************************************/

#overlay {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}

#overlay img {
    width: 150px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -75px;
}

/* Loading Indicator
*********************************************************************************************/

.loading {
    -webkit-animation: fade-in .25s linear;
    -moz-animation: fade-in .25s linear;
    -o-animation: fade-in .25s linear;
    animation: fade-in .25s linear;
}

@-webkit-keyframes fade-in {
    from	{ opacity: 0; }
    to		{ opacity: 1; }
}

@-moz-keyframes fade-in {
    from	{ opacity: 0; }
    to		{ opacity: 1; }
}

@-o-keyframes fade-in {
    from	{ opacity: 0; }
    to		{ opacity: 1; }
}

@keyframes fade-in {
    from	{ opacity: 0; }
    to		{ opacity: 1; }
}

.loading,
.loading div {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.loading {
    width: 2.5em;
    height: 2.5em;    
    background-color: rgba( 0, 0, 0, .075 );
    position: fixed;
    z-index: 10003;
    top: 50%;
    left: 50%;
    padding: 0.625em;
    margin: -1.25em 0 0 -1.25em; /* 20 */
}

.loading div {
    width: 1.25em;
    height: 1.25em;
    background-color: rgba(255, 255, 255, 0.75);    
    -webkit-animation: loading .5s ease infinite;
    -moz-animation: loading .5s ease infinite;
    -o-animation: loading .5s ease infinite;
    animation: loading .5s ease infinite;
}

@-webkit-keyframes loading {
    from { opacity: .5;	-webkit-transform: scale( .75 ); }
    50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
    to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
}

@-moz-keyframes loading {
    from { opacity: .5;	-moz-transform: scale( .75 ); }
    50%	 { opacity: 1;	-moz-transform: scale( 1 ); }
    to	 { opacity: .5;	-moz-transform: scale( .75 ); }
}

@-o-keyframes loading {
    from { opacity: .5;	-o-transform: scale( .75 ); }
    50%	 { opacity: 1;	-o-transform: scale( 1 ); }
    to	 { opacity: .5;	-o-transform: scale( .75 ); }
}

@keyframes loading {
    from { opacity: .5;	transform: scale( .75 ); }
    50%	 { opacity: 1;	transform: scale( 1 ); }
    to	 { opacity: .5;	transform: scale( .75 ); }
}